Win32/
build/*
src/amx/*
src/cmake/*
.vs/
sh/
src/plugin.h
src/sampgdk.h
src/plugincommon.h
src/sampgdk.c
src/sampgdk.h
src/amxplugin.cpp
pySAMP.dir/
python/idl/
python/json/
python/functions/
.vscode/
doc/plantuml/
test/
*.pyc
gamemodes/reloadable-gamemode/
gamemodes/remote-client/
gamemodes/remote-server/
server/
target/
**/.DS_Store
